/* shared common styles*/
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.text-primary{
    color: #E55473;
}
.btn-primary{
    border-radius: 8px;
    background-color: #E55473;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 20px 43px;
}
section{
    margin: 128px 0;
}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0;
}

/* header related style */
header{
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content {
    max-width: 700px;
}
.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}
.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}
.banner-image {
    width: 500px;
}
/* features related style */
.features-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin:  0 240px;
}

.features-box{
    width: 350px;
    height: 400px;
    padding: 50px 30px 0px 30px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;
}
.one{
    background: rgba(167, 33, 98, 0.15);
}
.two{
    background: rgba(5, 151, 160, 0.15);
}
.three{
    background: rgba(71, 125, 17, 0.15);
}
.features-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* service related style */
.service-container{
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin:  0 240px;
    padding: 82px 0;
}
.service-title{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}


/* offer related style */
.offer-container{
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 82px 0;
}

.offer-content{
    width: 600px;

}

.offer-image{
    height: 340px;
    width: 260px;
}